<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=r9zbycpq8e.database.windows.net;database=riot4_db;uid=RIoT@r9zbycpq8e;pwd=MSTeamA1" name="riot4_db" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="index.html" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
