<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=r9zbycpq8e.database.windows.net;database=riot4_db;uid=RIoT@r9zbycpq8e;pwd=MSTeamA1" name="riot4_db" providerName="System.Data.SqlClient" />
    </connectionStrings>
	<system.webServer>
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
		</httpErrors>
        <defaultDocument>
            <files>
                <clear />
                <add value="Home.php" />
            </files>
        </defaultDocument>
    </system.webServer>
	<system.web>
    <customErrors mode="On" defaultRedirect="error.php" >
        <error statusCode="404" redirect="error.php" />
    </customErrors>
</system.web>
</configuration>
